@model IEnumerable<Comment>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <ul>
        @foreach (var comment in Model)
        {
            <li>@comment.CommentText</li>
        }
    </ul>
   


</div>