<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maitree:wght@300&display=swap" rel="stylesheet">
    <script src="~/js/startSetup.js"></script>
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark mainnav fixed-top" id="mainnav">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo"
                        style="width: auto;height: 50px;"
                        src="https://media.discordapp.net/attachments/1088293941192962138/1098666583150309396/prompFaglogo2.png?width=1000&height=500"
                        alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="me-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item" id="li01">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index"
                                id="l01">หน้าหลัก</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item" id="li02">
                                <a class="nav-link" asp-area="" asp-controller="MainPose" asp-action="" id="l02">รับฝาก</a>
                            </li>

                            <li class="nav-item" id="li03">
                                <a class="nav-link" asp-area="" asp-controller="Deposit" asp-action="" id="l03">ฝากซื้อ</a>
                            </li>

                            <li class="nav-item" id='li05'>
                                <a class="nav-link " asp-area="" asp-controller="Dashboard" asp-action="Index"
                                    id='l05'>ผู้ใช้งาน</a>
                            </li>
                            <li class="nav-item">
                                <form class="nav-link " asp-area="" asp-controller="Account" asp-action="Logout">
                                    <button id="LogoutBTN" class="btn">ออกจากระบบ</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item" id="li04">
                                <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Login"
                                    id="l04">ลงชื่อเข้าใช้</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>

        <div class="bannercontainer" onload="myFunction()"></div>

    </header>
    <div class="container " id="renderContainer">
        <main role="main " class="">
            @RenderBody()
        </main>

    </div>

    <script src="~/js/scrollScript.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<footer id='footer'>
    <p>
        เว็บไซต์พร้อมฝาก <br>
        วิชา WEB APPLICATION DEVELOPMENT PROJECT รหัสวิชา 01076120 <br>
        สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง<br>
    </p>
</footer>

<script>

</script>

</html>
