<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<script>
    window.addEventListener("load", (event) => {
        var renderContainer = document.getElementById("renderContainer");
        var navTop = document.getElementById("mainnav");

        if (window.location.pathname == '/') {
            console.log("Home");
            renderContainer.className = "";
            document.getElementById("l01").style.color = "white"
            document.getElementById("li01").style.backgroundColor = "red"
        }
        else {
            console.log("Not Home");
            renderContainer.className = "container";
        }

        if (window.location.pathname == '/MainPose') {
            document.getElementById("l02").style.color = "white"
            document.getElementById("li02").style.backgroundColor = "red"
        }
    });
</script>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark mainnav fixed-top" id="mainnav">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo"
                        style="width: auto;height: 50px;"
                        src="https://media.discordapp.net/attachments/1088293941192962138/1098666583150309396/prompFaglogo2.png?width=1000&height=500"
                        alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="me-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item" id="li01">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index"
                                id="l01">หน้าหลัก</a>
                        </li>

                        <li class="nav-item" id="li02">
                            <a class="nav-link" asp-area="" asp-controller="MainPose" asp-action="" id="l02">รับฝาก</a>
                        </li>

                        <li class="nav-item" id="li02">
                            <a class="nav-link" asp-area="" asp-controller="" asp-action="" id="">ฝากซื้อ</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Dashboard"asp-action="Index">ผู้ใช้งาน</a>
                            </li>
                            <li class="nav-item">
                                <form class="nav-link " asp-area="" asp-controller="Account"asp-action="Logout">
                                    <button id="LogoutBTN" class="btn">ออกจากระบบ</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Account"asp-action="Login">ลงชื่อเข้าใช้</a>
                            </li>
                        }
                        
                    </ul>
                </div>
            </div>
        </nav>

        <div class="bannercontainer" onload="myFunction()"></div>

    </header>
    <div class="container " id="renderContainer">
        <main role="main " class="pb-3">
            @RenderBody()
        </main>

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<footer>
    <p>
        เว็บไซต์พร้อมฝาก <br>
        วิชา WEB APPLICATION DEVELOPMENT PROJECT รหัสวิชา 01076120 <br>
        สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง<br>
    </p>
</footer>

<script>

    const mainnav = document.querySelector('nav')
    var navitem = document.querySelectorAll('.nav-item')

    window.onscroll = function () {
        if (window.scrollY > 80) {

            mainnav.classList.add('active');
            for (var i = 0; i < navitem.length; i++) {
                navitem[i].classList.add('active');
            }

            if (window.location.pathname == "/") {
                document.getElementById("l01").style.color = "white"
                document.getElementById("li01").style.backgroundColor = "#f59317"
            }
            else if (window.location.pathname == "/MainPose") {
                document.getElementById("l02").style.color = "white"
                document.getElementById("li02").style.backgroundColor = "#f59317"
            }
        }
        else {
            mainnav.classList.remove('active');
            for (var i = 0; i < navitem.length; i++) {
                navitem[i].classList.remove('active');
            }
            if (window.location.pathname == "/") {
                document.getElementById("l01").style.color = "white"
                document.getElementById("li01").style.backgroundColor = "red"
            }
            else if (window.location.pathname == "/MainPose") {
                document.getElementById("l02").style.color = "white"
                document.getElementById("li02").style.backgroundColor = "red"
            }
        }

    }
</script>

</html>
