@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<CommentDeposit>

<div class="row">
    <div class="order_box">
        <div class="card p-3 shadow-sm">
            <div class="d-flex justify-content-between align-items-center">
                <div class="user d-flex flex-row align-items-center">
                    <div class="row">
                        <div class="col-3">
                            <small style="color: rgb(76, 158, 80);">@Model.FirstOrDefault().FirstName</small>
                        </div>
                        <div class="col-9">
                            <small class="font-weight-bold">@Model.FirstOrDefault().CommentText</small>
                        </div>
                        <div></div>
                        <div class="slip">
                            <img id="Image-@Model.FirstOrDefault().Id-comment" src="@Model.FirstOrDefault().Image" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form asp-controller="Deposit" asp-action="DeleteComment" method="post">
        <input type="hidden" name="depositId" value="@Model.FirstOrDefault().Id" />
        <button type="submit" class="remove">
            <img src="https://cdn-icons-png.flaticon.com/512/189/189690.png" alt="">
        </button>
    </form>
</div>
