@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "แก้ไขโพสต์ฝาก";
}
@using WebApplication1.ViewModels
@model EditDepositViewModel
<link rel="stylesheet" href="~/css/fillInfo.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@500&display=swap" rel="stylesheet">
<div class="container" id="depoBox">
    <h2>แก้ไขข้อมูลการฝากซื้อ</h2>
    <form method="post" asp-controller="Deposit" asp-action="EditDeposit">
        <div class="row">
            <div class="col-md-6 col-sm-12 form-group">
                <input asp-for="CreatedTime" type="hidden" class="form-control" />
                <input type="hidden" id="Email" name="Email" asp-for="Email" value="@User.Identity.Name" />
                <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId" />
                <input type="hidden" id="Icon" name="Icon" asp-for="Icon" />
                <input type="hidden" id="StatePost" name="StatePost" asp-for="StatePost" />
                <label asp-for="FirstName">ชื่อ</label>
                <div class="col-12">
                    <input asp-for="FirstName" class="form-control" placeholder="*กรอกชื่อ">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

            </div>
            <div class="col-md-6 col-sm-12 form-group">
                <label asp-for="LastName">นามสกุล</label>
                <div class="col-12">
                    <input asp-for="LastName" class="form-control" placeholder="*กรอกนามสกุล">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-6 form-group">
                <label asp-for="Phone">เบอร์โทรศัพท์</label>
                <input asp-for="Phone" type="text" class="form-control" placeholder="*กรอกเบอร์โทรศัพท์" maxlength="10">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-md-12 form-group">
                <label asp-for="Place">ไปซื้อที่ไหน</label>
                <input asp-for="Place" class="form-control"
                    placeholder="*จะต้องไปซื้อที่ไหน Ex: โรงพระเทพ ร้านอาหารตามสั่ง">
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="col-xl-6 col-md-12 form-group">
                <label asp-for="Food">ไปซื้ออะไร</label>
                <input asp-for="Food" class="form-control" placeholder="*จะให้ไปซื้ออะไร Ex: ข้าวไข่เจียว">
                <span asp-validation-for="Food" class="text-danger"></span>
            </div>
            <div class="col-xl-6 col-md-12 form-group">
                <label asp-for="PlaceDeliver">เอามาส่งที่ไหน</label>
                <input asp-for="PlaceDeliver" class="form-control" placeholder="*จะต้องไปส่งที่ไหน Ex: ตึก ECC">
                <span asp-validation-for="PlaceDeliver" class="text-danger"></span>
            </div>
            <div class=" col-xl-6 col-md-6 col-sm-12 form-group">


                <label asp-for="MaxTimePose">หาคนรับฝากภายใน(นาที)</label>
                <input asp-for="MaxTimePose" class="form-control" value="1" min="1">


            </div>
        </div>
        <br>
        <a class="btn btn-secondary" href="/Deposit">ยกเลิก</a>
        <button type="submit" class="btn btn-primary">ยืนยัน</button>

    </form>
</div>
