<link rel="stylesheet" href="~/css/dashboard.css">



<div class="bg my-0 mx-auto">
    <form class="dashboard">
        <div class="row">
            <div id="iconpfp" class="mx-auto"></div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 "> 
                <div class="lable">FirstName</div> <div class="data"></div> </div>
            <div class="col-12 col-md-6 "> <div  class="lable">LastName</div> <div class="data"></div> </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 "> <div  class="lable">NickName</div>  <div class="data"></div></div>
            <div class="col-12 col-md-6 "> <div  class="lable">Phone Number</div> <div class="data"></div></div>
        </div>
        <div class="row">
            <div class="col-12 "> <div  class="lable">Bank Account Number</div> <div class="data"></div></div>
        </div>
        @*<div class="form-group">
            <h2>History</h2>
            <div id="history"></div>
        </div> *@
    </form>
</div>