<link rel="stylesheet" href="~/css/dashboard.css">



<div class="bg my-0 mx-auto">
    <form class="dashboard">
        <div class="row">
            <div id="iconpfp" class="mx-auto"></div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 "> 
                <div>FirstName</div> </div>
            <div class="col-12 col-md-6 "> <div>LastName</div> </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 "> <div>NickName</div></div>
            <div class="col-12 col-md-6 "> <div>Phone Number</div></div>
        </div>
        <div class="row">
            <div class="col-12 "> <div>Bank Account Number</div></div>
        </div>
        <div class="form-group">
            <h2>History</h2>
            <div id="history"></div>
        </div>
    </form>
</div>