.profile {
    border-radius: 100px;
    /* filter: drop-shadow(3px 4px 2px gray); */
    width: 100px;
    height: 100px;
}

.user-img {}

body {
    background-image: url('https://i.pinimg.com/564x/d6/aa/f2/d6aaf2c1b0402124aea5423898a7ef4c.jpg');
    background-size: cover;
}

.user-info {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.user-info p {
    padding-left: 5%;
}

#postBox {
    padding: 20px;
}

#fCon {
    margin-top: 100px;
}

#box {
    padding: 5px;
    border: 3px solid #167019;
    border-radius: 15px;
}

p {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 16px;
}

span {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 16px;
}



small {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.scan {
    text-align: center;
    margin-bottom: 5px;
}

.scan span {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

.scan span:hover {
    color: rgb(92, 89, 89);
}

.QRcode img {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
}

.comment {
    text-align: center;
    cursor: pointer;
    background-color: #F09711;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.comment:hover {
    transform: scale(1.05, 1.1);
    background-color: #eeb35b;

}

.commented {
    text-align: center;

    background-color: #52823b;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.order_box {
    margin-top: 5px;
}


.btn {
    background-color: rgb(16, 70, 19);
    border-color: black;
}

.btn:hover {
    background-color: rgb(76, 158, 80);
    border-color: rgb(16, 70, 19);
}


.editPost {
    margin-top: 10px;
}

.edit {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.edit img {
    width: 30px;
    height: auto;

}

.edit img:hover {
    filter: brightness(120%);
}

.remove {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.remove img {
    width: 30px;
    height: auto;
}

.remove img:hover {
    filter: brightness(200%);
}

#CT {
    background-color: rgb(253, 201, 89);
    border-radius: 0px 0px 50px 50px;

}

.user-opt a {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.time {
    font-size: 12px;
}

.status-radio {
    margin-left: 50%;

}

.waitB {
    padding-right: 20%;
}

.wait-btn {
    accent-color: green;
    ;
}

.processB {
    padding-right: 20%;
}

.process-btn {

    accent-color: yellow;
}

.finish-btn {

    accent-color: red;
}

h3,h1,h2 {
    text-shadow: 1px 2px #573300;
    color: #ff9900;
}