body{
    margin: 0;
}
/*.bg{
    background-image: url('https://media.discordapp.net/attachments/905446050347761714/1097545282960494612/d36d462db827833805497d9ea78a1343.jpg');
    background-size: cover;
    width: 80%;
    min-height: 100vh;
    background-position: center;
    z-index: 1 ;
    filter: blur(5px);
}*/
#iconpfp{
    background-image: url('https://pbs.twimg.com/profile_images/1324357023602036736/UpKepdqi_400x400.jpg');
    background-size: cover;
    margin-top: 100px;
    min-height: 200px;
    width: 200px;
    box-shadow: 0 0 50px 10px #73c2fb;
}

.bg::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
  
    display: block;
    background-color: white;
    background-size:cover;
    width: 100%;
    height: 100%;
  
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.row div{

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.row div .lable{
    width: 80%;
    margin-left: 10%;
    min-height: 50px;
    margin-bottom: 0;
    font-size: 30px;
    font-family: Fantasy;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.row div .data{
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    border: solid black 5px;
    min-height: 50px;
    margin-top: 0;
}

.form-group #history{
    background-color: red;
    min-height: 500px;
    margin:10%;
    border: solid black 5px;
    margin-top: 3%;
}
form div h2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
    color: black;
    font-size: large;
    background-color: white;
    width: 20%;
    padding: 10px;
    border: solid black 5px;

}

div form div #change {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px ;
    border: none;
    cursor: pointer;
    width: 20% ;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}