/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#welcome h1 {
  /* font-size: 32px; */
  font-family: 'Mitr', sans-serif;

}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;

}

#footer p {
  font-family: 'Maitree', serif;
  font-size: 10px;
}

.mainnav {
  background-color: rgba(0, 0, 0, 0.3);
}

.banner-image {
  /*background-image: url('https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?w=2000') !important;
  */
  background-image: url('https://media.discordapp.net/attachments/905446050347761714/1097545282960494612/d36d462db827833805497d9ea78a1343.jpg');
  background-size: cover;

}


.nav-item {
  border-radius: 20px;
  color: white;
}

.nav-item:hover {
  background-color: rgba(255, 0, 0, 1);
  color: white;
}

.mainnav.active {
  background-color: rgba(9, 68, 9, 1)
}

.nav-item.active:hover {
  background-color: rgba(243, 156, 18, 1);
  color: black;
}

#WC {
  color: white;
  filter: drop-shadow(2px 4px 0px rgba(0, 0, 0, 0.7));
  /* filter: drop-shadow(8px 5px 4px black); */

}

.second-text {
  color: rgba(243, 156, 18, 1);
  filter: drop-shadow(2px 3px 0px rgba(0, 0, 0, 0.7));
}

@media (max-width:720px) {


  .banner-image {
    /*background-image: url('https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?w=2000') !important;
    */
    background-image: url('https://media.discordapp.net/attachments/905446050347761714/1097545282960494612/d36d462db827833805497d9ea78a1343.jpg');
    background-size: cover;
  }

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif Thai', Noto fonts;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;

}

:root {
  --font: 'Mitr', sans-serif;
  --main-color: rgba(243, 156, 18, 1);
  --text-color: #fff;
  --bg-color: #1e1c2a;
  --big-font: 4rem;
  --h2-font: 2.25rem;
  --p-font: 0.9rem;
}

*::selection {
  background: var(--main-color);
  color: #fff;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 170px;
  background: var(--bg-color);
}

.logo {
  color: var(--main-color);
  font-weight: 600;
  font-size: 2.4rem;
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 500;
}

.navbar a:hover {
  color: var(--main-color);
  transition: .4s;
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

section {

  padding: 70px 17%;
}

.home {
  padding-top: 100px;
  padding-bottom: 100px;
}

.home-img img {
  max-width: 100%;
  width: 100%;
  height: auto;
}



.home-text h1 {
  font-size: var(--big-font);
  color: var(--main-color);
  font-family: var(--font);
}

.home-text h2 {
  font-size: var(--h2-font);
  margin: 1rem 0 2rem;
  font-family: var(--font);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: var(--main-color);
  color: #fff;
  border-radius: 0.5rem;
  font-family: var(--font);
}

.btn:hover {
  transform: scale(1.2) translateX(10px);
  transition: .4s;
}

.about {
  font-family: var(--font);
  padding-bottom: 100px;
}

.about-img img {
  max-width: 100%;
  width: 480px;
  height: auto;
}

.about-text span {
  color: var(--main-color);
  font-weight: 600;
  font-family: var(--font);
}

.about-text h2 {
  font-size: var(--h2-font);
  margin-top: 1rem;
  font-family: var(--font);
}

.about-text p {
  font-size: var(--p-font);
  margin: 0.8rem 0 1.8rem;
  line-height: 1.7;
  font-family: var(--font);
}

.heading {
  text-align: center;

}

.heading h3 {
  color: var(--main-color);
  font-weight: 600;
  font-family: var(--font);
}

.member {
  padding-top: 30px;
}

.team-member {
  text-align: center;
  margin-bottom: 30px;
}

.team-member img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 15px;
}

.team-member h3 {
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: var(--font);
}

.team-member p {
  font-weight: 400;
  color: #666;
  font-size: 16px;
  font-family: var(--font);
}

@media (max-width: 1560px) {
  header {
    padding: 0px 40px;
  }

  :root {
    --big-font: 3.5rem;
    --h2-font: 2rem;
  }
}

@media (max-width: 1140px) {


  #menu-icon {
    display: initial;
    color: var(--text-color);
  }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #2b2640;
    transition: .3s;
  }

  .navbar.active {
    top: 0px;
  }

  .navbar a {
    padding: 1.5rem;
    display: block;
  }

  .col {
    width: 50%;
    margin-bottom: 10px;
  }
}

@media (max-width: 720px) {
  .home {
    padding-top: 0px;
  }

  .about {
    padding-top: 0px;
  }

  .member {
    padding-top: 0;
  }


}

@media (max-width: 575px) {
  .home {
    padding-top: 70px;
  }

  .about {
    padding-top: 30px;
  }

  .member {
    padding-top: 0;
  }



}