img {

    width: 100px;
    height: 100px;
}

#postBox {
    padding: 20px;
}

#box {
    padding: 5px;
    border: 3px solid #167019;
    border-radius: 15px;
}

.comment {
    text-align: center;
    cursor: pointer;
    background-color: #F09711;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.comment:hover {
    transform: scale(1.05, 1.1);
    background-color: #eeb35b;

}

.commented {
    text-align: center;
    cursor: pointer;
    background-color: #52823b;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.commented:hover {
    transform: scale(1.05, 1.1);
    background-color: #40aa0e;

}

/* ยังนึกไม่ออกว่าเอาแบบไหนดีสำหรับช่องข้อความที่ถูกคอมเมนต์ */
.all_comment {
    display: flex;
    align-items: space-around;
    margin-top: 10px;
    background-color: #b1e0b3;
    width: 100%;
}


.btn {
    background-color: rgb(16, 70, 19);
    border-color: black;
}

.btn:hover {
    background-color: rgb(76, 158, 80);
    border-color: rgb(16, 70, 19);
}

#CT {
    background-color: rgb(253, 201, 89);
    border-radius: 0px 0px 50px 50px;
}