@{
    ViewData["Title"] = "แก้ไขข้อมูลผู้ใช้";
}

@using WebApplication1.ViewModels
@model EditUserDashboardVM

<link rel="stylesheet" href="~/css/fillInfo.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@500&display=swap" rel="stylesheet">
<div class="container" id="edituser">
    <h2>แก้ไขข้อมูลผู้ใช้</h2>
    <form method="post" asp-action="EditUserProfile" enctype="multipart/form-data">
        <input type="hidden" id="Id" name="Id" asp-for="Id">
        <input type="hidden" id="UrlImage" name="UrlImage" asp-for="UrlImage">
        <div class="row">
            <div class="form-group col-xl-6 col-sm-12">
                <label asp-for="FirstName" class="control-label">ชื่อ</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-xl-6 col-sm-12">
                <label asp-for="LastName" class="control-label">นามสกุล</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xl-2 col-sm-3">
                <label asp-for="NickName">ชื่อเล่น</label>
                <input asp-for="NickName" class="form-control" placeholder="NickName">
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>
            <div class="form-group col-xl-1 col-sm-3">
                <label asp-for="Section">เซค</label>
                <input asp-for="Section" class="form-control" placeholder="Section">
                <span asp-validation-for="Section" class="text-danger"></span>
            </div>
            <div class="form-group col-xl-3 col-sm-6">
                <label asp-for="Phone">เบอร์โทรศัพท์</label>
                <input asp-for="Phone" class="form-control" placeholder="Phone">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group col-xl-6 col-sm-12">
                <label asp-for="Account">บัญชีธนาคาร</label>
                <input asp-for="Account" class="form-control" placeholder="หมายเลขบัญชีธนาคาร">
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xl-3">
                <label asp-for="Image">รูปโปรไฟล์</label>
                <input asp-for="Image" class="form-control" placeholder="Image">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
        <br>
        <a class="btn btn-secondary" href="/Dashboard/Index">ยกเลิก</a>
        <button type="submit" class="btn btn-primary">ยืนยัน</button>

    </form>
</div>