@using WebApplication1.ViewModels
@model EditUserDashboardVM

<h2>User profile</h2>
<form method="post" asp-action="EditUserProfile" enctype="multipart/form-data">
    <input type="hidden" id="Id" name="Id" asp-for="Id">
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label asp-for="NickName">NickName</label>
        <input asp-for="NickName" class="form-control" placeholder="NickName">
        <span asp-validation-for="NickName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Section">Section</label>
        <input asp-for="Section" class="form-control" placeholder="Section">
        <span asp-validation-for="Section" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone">Phone</label>
        <input asp-for="Phone" class="form-control" placeholder="Phone">
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Account">Account</label>
        <input asp-for="Account" class="form-control" placeholder="Phone">
        <span asp-validation-for="Account" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image"> Image</label>
        <input asp-for="Image" class="form-control" placeholder="Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">submit</button>
    <a class="btn btn-secondary" href="/Dashboard/Index">ยกเลิก</a>
</form>
