@{
    ViewData["Title"] = "Home Page";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mitr&display=swap" rel="stylesheet">

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<div class="text-center row">
<div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center col-12">
        <div class="centent text-center" id="welcome">
             <h1 id="WC" class="">ยินดีต้อนรับเข้าสู่เว็บไซต์</h1>
            <h1 class="text-white">พร้อมฝาก</h1>
        </div>
</div>
<section class="home" id="home">
        <div class="home-text">
            <h1>บริการ รับ/ฝาก ซื้ออาหาร</h1>
            <h2>หิวเมื่อไหร่ก็แวะมา <br> มีคนรอ รับ/ฝาก อยู่ตลอด</h2>
            <a href="#" class="btn">ลงชื่อเข้าใช้</a>
        </div>

        <div class="home-img">
            <img src="https://www.recipetineats.com/wp-content/uploads/2020/05/Pepperoni-Pizza_5-SQjpg.jpg" alt="pizza">

        </div>
    </section>

    <!-------about start------->
    <section class="about" id="about">
        <div class="about-img">
            <img src="https://media.tenor.com/v99j-aduTkgAAAAd/mr-incredible.gif" alt="member">
        </div>

        <div class="about-text">
            <span>About Us</span>
            <h2>เว็บไซต์สำหรับ รับ/ฝาก ซื้ออาหาร <br> จากโรงอาหารพระเทพ</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor aliquet urna, sed molestie massa varius eget. Praesent faucibus et elit sed consectetur. Sed nulla odio, fermentum sed elit blandit, luctus tincidunt mi. Duis porttitor odio ut mattis eleifend. In luctus risus vitae sem viverra interdum. Proin consequat elit sed turpis feugiat, ac eleifend quam aliquam. Vivamus aliquam massa lacus, at rhoncus dui tempus a. Integer tincidunt ipsum lectus, nec convallis justo hendrerit sed. Vestibulum pretium nulla justo, ac blandit sapien commodo id. Proin consectetur lorem eget purus aliquam, sed sollicitudin sapien pharetra.</p>
            <a href="#" class="btn">สมัครเข้าใช้งาน</a>
        </div>
    </section>

    <!-------member start------->
    <section class="member" id="member">
        <div class="heading">
            <h3>Member</h3>
        </div>

        <div class="team-members">
            <!-- Team member 1 -->
            <div class="team-member">
                <img src="https://media.tenor.com/v99j-aduTkgAAAAd/mr-incredible.gif" alt="Member 1">
                <h3>John Doe</h3>
                <p>6666666</p>
            </div>
            <!-- Team member 2 -->
            <div class="team-member">
                <img src="https://media.tenor.com/v99j-aduTkgAAAAd/mr-incredible.gif" alt="Member 2">
                <h3>Jane Smith</h3>
                <p>666666</p>
            </div>
            <!-- Team member 3 -->
            <div class="team-member">
                <img src="https://media.tenor.com/v99j-aduTkgAAAAd/mr-incredible.gif" alt="Member 3">
                <h3>Michael Johnson</h3>
                <p>6666666</p>
            </div>
            <!-- Team member 4 -->
            <div class="team-member">
                <img src="https://media.tenor.com/v99j-aduTkgAAAAd/mr-incredible.gif" alt="Member 4">
                <h3>Sarah Williams</h3>
                <p>6666666</p>
            </div>
            <!-- Team member 5 -->
            <div class="team-member">
                <img src="https://media.tenor.com/v99j-aduTkgAAAAd/mr-incredible.gif" alt="Member 5">
                <h3>Tom Brown</h3>
                <p>6666666</p>
            </div>
        </div>
    </section>
</div>