@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<div class="text-center home">
<div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
        <div class="centent text-center">
             <h1 id="WC" class="">ยินดีต้อนรับสู่เว็บไซต์</h1>
            <h1 class="text-white">พร้อมฝาก</h1>
        </div>
</div>
