@{
    ViewData["Title"] = "หน้าหลัก";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Mitr&display=swap" rel="stylesheet">

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
@* <section class="sec1 border"> *@

<div>
    <section id="bg-img" class="banner-image d-flex justify-content-center align-items-center vh-100">
        <div class="centent text-center" id="welcome">
            <h1 id="WC" class="">ยินดีต้อนรับเข้าสู่เว็บไซต์</h1>
            <h1 class="second-text">พร้อมฝาก</h1>
        </div>
    </section>


    @* </section> *@
    <section class="home" id="section2">
        <div class="row justify-content-center align-item-center">
            <div class="home-text col-xl-6 col-md-12 col-sm-12">
                <h1>บริการ รับ/ฝาก ซื้ออาหาร</h1>
                <h2>หิวเมื่อไหร่ก็แวะมา <br> มีคนรอ รับ/ฝาก อยู่ตลอด</h2>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="./Account/Login" class="btn">ลงชื่อเข้าใช้</a>
                }
            </div>
            <img class="home-img col-xl-6 col-md-12 col-sm-12"
                src="https://scontent.fbkk3-6.fna.fbcdn.net/v/t1.6435-9/163261349_1883601285126635_930153694810579536_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeEj-4S9rQ4yOrUXDv5FArRsjBY1ULBhSdaMFjVQsGFJ1tmXLQmtzWDZwJ9tzceSKbhSCAeuPopfLnQ0673E1T1c&_nc_ohc=wJsJwuTCB8kAX_fQFl4&_nc_ht=scontent.fbkk3-6.fna&oh=00_AfCu82WmjL9CsL72u_VMQGe_LLYiz1fKy3t7zfqLxqkCFg&oe=6471FE1E"
                alt="pizza">


        </div>
    </section>

    <!-------about start------->
    <section class="about" id="section3">
        <div class="row justify-content-center align-item-center">
            <img class="about-img col-xl-6"
                src="https://www.marinespecies.org/images/news/video-tutorial-image_orig.jpg" alt="member">

            <div class="about-text col-xl-6">
                <span>เกี่ยวกับเว็บไซต์ของพวกเรา</span>
                <h2>เว็บไซต์สำหรับ รับ/ฝาก ซื้ออาหาร</h2>
                <p>ยินดีต้อนรับสู่เว็บไซต์ของพวกเรา! เราดีใจที่ได้เห็นคุณที่นี่
                    ไม่ว่าคุณจะมาเจอเว็บไซต์ของพวกเราโดยบังเอิญหรือจงใจมาหาเรา
                    เราหวังว่าคุณจะพึงพอใจกับการใช้งานบริการของเรา
                    เว็บไซต์ของพวกเราออกแบบมาเพื่อสร้างประสบการณ์ที่ดีให้กับทุกคนที่เข้ามาใช้งาน
                    หากพบสิ่งที่ผิดปกติหรือมีข้อเสนอแนะให้กับพวกเรา โปรดอย่าลังเลที่จะบอกพวกเรา
                    เรายินดีที่จะรับฟังคำแนะนำจากคุณ</p>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="./Account/Register" class="btn">สมัครเข้าใช้งาน</a>
                }
            </div>
        </div>
    </section>

    <!-------member start------->
    <section class="member" id="section4">
        <div class="row align-items-center justify-content-center">
            <div class="heading col-xl-12">
                <h3>ทีมผู้พัฒนา</h3>
                <br>
            </div>
            <div class="team-members row align-items-center justify-content-center">
                <!-- Team member 1 -->
                <div class="team-member col-xl-3">
                    <img src="https://media.discordapp.net/attachments/879723819621814342/1101953634176073728/image_64010247_62f31f0cd5a80.png?width=625&height=613"
                        alt="Member 1">
                    <h3>ณัฐพล เนื้อเย็น</h3>
                    <p>64010247</p>

                </div>
                <!-- Team member 2 -->
                <div class="team-member col-xl-3 ">
                    <img src="https://cdn.discordapp.com/attachments/1088293941192962138/1101528468174422147/1652968773293.jpg"
                        alt="Member 2">
                    <h3>ไททัศน์ กันทา</h3>
                    <p>64010298</p>
                </div>
                <!-- Team member 3 -->
                <div class="team-member col-xl-3">
                    <img src="https://media.discordapp.net/attachments/1088293941192962138/1101913644792549528/2BEF8D2D-F9B3-40EC-ACC9-A7C689999547.jpg?width=670&height=670"
                        alt="Member 3">
                    <h3>ธนกาญจน์ กันไพเราะ</h3>
                    <p>64010309</p>
                </div>
                <!-- Team member 4 -->
                <div class="team-member col-xl-3">
                    <img src="https://media.discordapp.net/attachments/943134579433308180/1101845311300845578/20220810_182900.jpg?width=683&height=668"
                        alt="Member 4">
                    <h3>ธนากร รัตนพรชัย</h3>
                    <p>64010342</p>

                </div>
                <!-- Team member 5 -->
                <div class="team-member col-xl-3">
                    <img src="https://cdn.discordapp.com/attachments/879723819621814342/1101845349435461742/IMG_20210311_105518_696_Small.jpg"
                        alt="Member 5">
                    <h3>นีรชา เลาะหมัดจิตร</h3>
                    <p>64010444</p>
                </div>
            </div>
        </div>
    </section>
</div>
