.banner-image {
    background-image: url('./img/d36d462db827833805497d9ea78a1343.jpg');
    background-size: cover;
}

#WC {
    color: #FECD05;
    text-shadow: 6px 1px 8px #000000;
}

.nav1 {
    background-color: rgba(0, 0, 0, 0.3)
}

.nav2 {
    background-color: rgba(9,68,9,1)
}

.navl1 {
    border-radius: 20px;
    color: white;

}

.navl2 {
    border-radius: 20px;
    color: white;
}

.navl1:hover {
    background-color: rgba(255,0,0,1);
    color: white;
}

.navl2:hover {
    background-color: rgba(243,156,18,1);
    color: black;
}