.banner-image {
    background-image: url('./img/d36d462db827833805497d9ea78a1343.jpg');
    background-size: cover;
}

span {
    color: white;
}

.nav1 {
    background-color: rgba(0, 0, 0, 0.3)
}

.nav2 {
    background-color: rgba(20, 90, 50, 1)
}

.navl1 {
    border-radius: 20px;
}

.navl2 {
    border-radius: 20px;
}

.navl1:hover {
    background-color: rgba(255, 0, 0, 1);

}

.navl2:hover {
    background-color: rgba(25, 0, 0, 0.6);

}